@media all and (max-width: 1024px)
{
	html
	{
		height: 100%;
		width: auto;
	}

	body
	{
		font-size:16px;
		width: auto;
	}

	#page
	{
		width: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	#sectionGauche
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: auto;
		text-align: center;
	}

	#sectionDroite
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
		text-align: center;
		margin: auto;
	}

	.element
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin: auto;
	}

	#bas
	{
		position: initial;
	}

	h3
	{
		text-align: center;
	}

	.description
	{
		margin: auto;
	}

	.prix
	{
		margin: auto;
	}

	.iconeDate
	{
		width: 00%;
	}

	p
	{
		text-align: center;
	}

	.duree
	{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		font-size: 1.5em;
	}

	.duree > p
	{
		text-align: left;
	}

	.duree > .fas
	{
		margin-top: 32px;
		font-size: small;
	}

	.duree > .far
	{
		margin-top: 32px;
		font-size: small;
	}

	div
	{
		text-align: center;
	}

	#contact
	{
		margin-left: -30px;
	}

	h1
	{
		font-size: 50px;
	}

	h2
	{
		font-size: 40px;
	}

	h3
	{
		font-size: 35px;
		margin-top: 100px;
	}

	.taillePolice
	{
		margin-bottom: 100px;
	}

	.titre
	{
		font-size: 1.5em;
	}

	.sousTitre
	{
		font-size: 1.1em;
	}

}

@media all and (max-width: 330px)
{
	h3
	{
		font-size: 25px;
	}

	h1
	{
		font-size: 45px;
	}

	h2
	{
		font-size: 35px;
	}
}